In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [52]:
# collections data
csv_file = "resources/Mia_objects_raw.csv"

In [215]:
db = pd.read_csv(csv_file, index_col='Unnamed: 0')
db.head()

,accession_number,artist,classification,continent,country,creditline,culture,dated,department,id,life_date,medium,nationality,object_name,provenance,room,style,title
0,10.1,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c.1888-89,Prints and Drawings,0,"English, 1833 - 1911","Pen and ink, brush and wash over graphite",English,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Air, from the series The Four Elements"
1,10.2,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,1,"English, 1833 - 1911","Pen and ink, brush and wash over graphite",English,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Earth, from the series The Four Elements"
2,10.3,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,2,"English, 1833 - 1911","Pen and ink, brush and wash over graphite",English,Drawing,"[Art dealer, London, acquired from ""an old hou...",G352,19th century,"Fire, from the series The Four Elements"
3,10.4,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,3,"English, 1833 - 1911","Pen and ink, brush and wash over graphite",English,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Water, from the series The Four Elements"
4,13.29,Walter Shirlaw,Drawings,North America,United States,Gift of Mrs. Florence M. Shirlaw,NaN,19th century,Prints and Drawings,4,"American, 1838 - 1909",Watercolor,American,Drawing,NaN,Not on View,19th century,Montana Indian Reservation I

In [216]:
# strip "P" from prints & drawings
db['accession_number'] = db['accession_number'].str.lstrip('P.')

# split out first half of accession number
db['accession_year'] = db['accession_number'].str.split('.', n=1, expand=True)[0]

# Acession Number Cleaning

### RBL/RB/X
Adding columns for unknown accession letters

In [217]:
# add 'RBL' column
db['RBL'] = db['accession_year'].str.extract(r'(RBL)', expand=True)
# add 'RB' column
db['RB'] = db['accession_year'].str.extract(r'(RB)', expand=True)
# add 'X' column
db['X'] = db['accession_year'].str.extract(r'(^X)', expand=True)

### L
Adding column for loaned objects

In [218]:
# add loan column
db['loan'] = db['accession_year'].str.extract(r'(^L)', expand=True)

Stripping letters from accession_year

In [222]:
# strip 'RBL' from accession_year column (strips L, RB & RBL)
db['accession_year'] = db['accession_year'].str.lstrip('RBL')

# strip "X" from accession_year column
db['accession_year'] = db['accession_year'].str.lstrip('X')

# Cleaned Output
Filter dataframe so only accession numbers with valid years are output into cleaned data

In [241]:
# replace all empty cells with None
db = db.replace('', None)

In [256]:
# filter dataframe for accession years longer than 4 digits
db_1 = db[db['accession_year'].map(lambda x: len(x) < 5)]
db_2 = db[db['accession_year'].map(lambda x: len(x) > 4)]

In [262]:
# Use groupby to filter out any accession years with less than two entries
db_grouped = db_1.groupby('accession_year').filter(lambda x: len(x) > 2)
db_remainder = db_1.groupby('accession_year').filter(lambda x: len(x) <= 2)

In [263]:
db_grouped.accession_year.value_counts()

99      7718
2013    4006
2003    3731
98      3551
2007    3121
2004    3066
2002    2864
96      2651
2015    2625
2001    2490
2010    2356
97      2307
2005    2180
74      2019
95      1961
2000    1957
2017    1828
2018    1771
2014    1771
2012    1771
82      1682
77      1677
90      1672
2016    1651
2006    1625
81      1581
94      1469
75      1361
2008    1323
47      1291
        ...
09       105
16       104
20       104
29       101
32        99
43        92
13        78
22        63
55        62
36        60
33        57
59        57
39        55
49        48
60        47
57        46
38        45
18        37
48        37
53        37
52        34
19        30
121       19
234       12
448       11
10         6
12         5
p          5
535        4
11         3
Name: accession_year, Length: 116, dtype: int64

In [255]:
db_remainder.count()

accession_number    21623
artist              21623
classification      21623
continent           21623
country             21623
creditline          21623
culture             21623
dated               21623
department          21623
id                  21623
life_date           21623
medium              21623
nationality         21623
object_name         21623
provenance          21623
room                21623
style               21623
title               21623
accession_year      21623
RBL                 21623
RB                  21623
X                   21623
loan                21623
dtype: int64