In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in cleaned country data
csv_file = 'resources/Mia_objects_accession_year.csv'

In [3]:
df = pd.read_csv(csv_file, index_col='Unnamed: 0')
df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accession_number,artist,classification,continent,country,creditline,culture,dated,department,id,...,object_name,provenance,room,style,title,RBL,RB,X,loan,accession_year
0,10.1,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c.1888-89,Prints and Drawings,0,...,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Air, from the series The Four Elements",NaN,NaN,NaN,NaN,10
1,10.2,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,1,...,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Earth, from the series The Four Elements",NaN,NaN,NaN,NaN,10
2,10.3,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,2,...,Drawing,"[Art dealer, London, acquired from ""an old hou...",G352,19th century,"Fire, from the series The Four Elements",NaN,NaN,NaN,NaN,10
3,10.4,Frederick G. Smith; Artist: Formerly attribute...,Drawings,Europe,England,"Gift of Mrs. C. J. Martin, in memory of Charle...",NaN,c. 1888-89,Prints and Drawings,3,...,Drawing,"[Art dealer, London, acquired from ""an old hou...",Not on View,19th century,"Water, from the series The Four Elements",NaN,NaN,NaN,NaN,10
4,13.29,Walter Shirlaw,Drawings,North America,United States,Gift of Mrs. Florence M. Shirlaw,NaN,19th century,Prints and Drawings,4,...,Drawing,NaN,Not on View,19th century,Montana Indian Reservation I,NaN,NaN,NaN,NaN,13

In [4]:
# check continent data
df.continent.value_counts()

Europe                         39852
North America                  35666
Asia                           24948
Africa                          2982
South America                   1001
Oceania                          283
Central America                  144
North America (?)                 32
Southeast Asia                    26
Australia                          8
North America or Europe            5
North America and Europe           5
Europe or North America            3
Europe or Asia                     2
Middle East                        2
Asia or Africa                     1
North Africa                       1
Asia (?)                           1
North America or Europe (?)        1
Persia                             1
Asia Minor                         1
Europe / Africa                    1
North American                     1
Africa / Asia / Europe             1
Europe (probably)                  1
Europe (?)                         1
Western Europe                     1
Africa (?)                         1
Africa or Asia                     1
Europe or South Pacific            1
Europe/Asia                        1
Antarctica                         1
West Africa                        1
India                              1
Asia / Europe                      1
Name: continent, dtype: int64

In [6]:
# remove west/north specifications and fix typos
df.replace({'continent' : 'North American'}, 'North America', inplace=True)
df.replace({'continent' : ['Southeast Asia', 'India', 'Asia Minor']}, 'Asia', inplace=True)
df.replace({'continent' : ['West Africa', 'North Africa']}, 'Africa', inplace=True)
df.replace({'continent' : 'Western Europe'}, 'Europe', inplace=True)

# df.loc[(df['continent'] == 'West Africa'), 'continent'] == 'Africa'
# df.loc[(df['continent'] == 'North Africa'), 'continent'] == 'Africa'

## Using Tableau Unkown to Fix Typos in Country Data
Pulled data frame into Tableau and found 311 non country identified data, using the following steps the countries Tableau didn't recognize were fixed (unclear data was not changed - e.g. 'India or China')
* Group the data by country type and filter the number of entries, starting with large values (200)
* Make test output file and read into Tableau
* Pull up unknown values from bottom corner of map, and update if possible
* Repeat steps down to reasonable number of entries

In [7]:
# add column for tableau country data
df['tableau_country'] = df['country']
df.tableau_country.value_counts()

United States                              35943
France                                     17749
Japan                                      11218
China                                       9866
England                                     8550
Germany                                     3890
Italy                                       3077
Netherlands                                 1103
Guatemala                                   1057
Mexico                                       901
India                                        872
Switzerland                                  784
The Netherlands                              689
Thailand                                     609
Peru                                         609
Scotland                                     551
Belgium                                      548
Spain                                        525
Austria                                      499
Ghana                                        424
Turkey                                       364
Nigeria                                      361
Uzbekistan                                   328
Democratic Republic of the Congo             316
Korea                                        306
Morocco                                      303
Egypt                                        275
Holland                                      268
Myanmar (Burma)                              242
Mali                                         240
                                           ...
Anatolia                                       1
Denmark or Belgium ?                           1
Spain (?)                                      1
Turkey or Greece                               1
Iran or Turkey                                 1
England and United States                      1
Middle East or India                           1
Ghana or Burkina Faso                          1
CÃ´te d'Ivoire or Mali                          1
Niger (?)                                      1
Nubia                                          1
Republic of the Sudan                          1
Switzerland/France                             1
Hungary (probably)                             1
Iraq (?)                                       1
Dutch Guiana (Suriname)                        1
Samoa                                          1
United States or England (?)                   1
Germany or Hungary (?)                         1
Turkey (?)                                     1
Germany?                                       1
Iran (Persia (Khourvin))                       1
Zambia or Botswana                             1
Cote d'Ivoire                                  1
Turkey or Kurdistan                            1
Kalimanta                                      1
Western Tibet or Central Regions, Tibet        1
Northwest Laos                                 1
Ivory Coast/Nigeria                            1
Kenya or Tanzania                              1
Name: tableau_country, Length: 508, dtype: int64

In [8]:
# Replaced country values for countries with >200 entries
df.replace({'tableau_country' : ['England', 'Scotland', 'Engalnd']}, 'United Kingdom', inplace=True)
df.replace({'tableau_country' : 'Korea'}, 'South Korea', inplace=True)

In [14]:
# Replaced country values for countries with 50 - 199 entries
df.replace({'tableau_country' : ['Flanders', 'Belgium (Flanders)', 'Flemish']}, 'Belgium', inplace=True)
df.replace({'tableau_country' : ['Persia (Iran)', 'Luristan, Persia']}, 'Iran', inplace=True)

In [16]:
# Replaced country values for countries with 25 - 49 entries
df.replace({'tableau_country' : ['Germany (Saxony)', 'West Germany', 'East Germany']}, 'Germany', inplace=True)
df.replace({'tableau_country' : 'Bohemia'}, 'Czechia', inplace=True)

In [11]:
# Replaced country values for countries with 10 - 24 entries
df.replace({'tableau_country' : 'Aotearoa (New Zealand)'}, 'New Zeleand', inplace=True)
df.replace({'tableau_country' : 'Jingdezhen, China'}, 'China', inplace=True)
df.replace({'tableau_country' : 'Siam'}, 'Thailand', inplace=True)
df.replace({'tableau_country' : ['Greek Islands', 'Greek']}, 'Greece', inplace=True)

In [12]:
# Replaced country values for countries with 5 - 9 entries
df.replace({'tableau_country' : 'Bali'}, 'Indonesia', inplace=True)
df.replace({'tableau_country' : 'Fiji Islands'}, 'Fiji', inplace=True)
df.replace({'tableau_country' : ['Italy or Sicily', 'Sicily']}, 'Italy', inplace=True)

In [18]:
# Replaced country values for countries with 1 - 4 entries
df.replace({'tableau_country' : 'Nehterlands'}, 'Netherlands', inplace=True)
df.replace({'tableau_country' : 'Guatamala'}, 'Guatemala', inplace=True)
df.replace({'tableau_country' : 'Lorraine'}, 'France', inplace=True)

In [ ]:
# Historical countries with multiple current countries or cultures that span two countries:
# Czechoslovakia, New Guinea, Tibet, Roman, Khmer, Persia, Yugoslavia, Roman Empire

In [19]:
df.tableau_country.value_counts()

United States                              35943
France                                     17750
Japan                                      11218
China                                       9879
United Kingdom                              9127
Germany                                     3931
Italy                                       3090
Netherlands                                 1104
Guatemala                                   1058
Mexico                                       901
India                                        872
Switzerland                                  784
The Netherlands                              689
Belgium                                      639
Thailand                                     625
Peru                                         609
Spain                                        525
Austria                                      499
Ghana                                        424
Iran                                         378
Turkey                                       364
Nigeria                                      361
Uzbekistan                                   328
Democratic Republic of the Congo             316
South Korea                                  307
Morocco                                      303
Egypt                                        275
Holland                                      268
Myanmar (Burma)                              242
Mali                                         240
                                           ...
France or United States or England             1
Anatolia                                       1
Denmark or Belgium ?                           1
Hungary (probably)                             1
England and United States                      1
Middle East or India                           1
Ghana or Burkina Faso                          1
CÃ´te d'Ivoire or Mali                          1
Niger (?)                                      1
Nubia                                          1
Republic of the Sudan                          1
Switzerland/France                             1
Dutch Guiana (Suriname)                        1
El Salvador                                    1
Turkey (?)                                     1
Iran (Persia (Khourvin))                       1
Samoa                                          1
United States or England (?)                   1
Germany or Hungary (?)                         1
Kalimanta                                      1
Germany?                                       1
Zambia or Botswana                             1
Western Tibet or Central Regions, Tibet        1
Cote d'Ivoire                                  1
Turkey or Kurdistan                            1
Northwest Laos                                 1
Ivory Coast/Nigeria                            1
Iraq (?)                                       1
Philippine Islands                             1
Kenya or Tanzania                              1
Name: tableau_country, Length: 485, dtype: int64

In [20]:
# New file for visualizations from objects with updated country names
output_datafile = 'resources/Mia_objects_country.csv'
df.to_csv(output_datafile, encoding='utf-8')